/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

pre.stream, .gist-line, .gist {
  color: #d2d8d9;
  background-color: #25292a;
}

pre.stream-full {
  height: calc(100vh - 200px);
}

pre.stream-preview, .file-data {
  height: 200px;
}

.ansi-black-fg { color: #3d3f41; }
.ansi-red-fg { color: #f24840; }
.ansi-green-fg { color: #629655; }
.ansi-yellow-fg { color: #b68800; }
.ansi-blue-fg { color: #2075c7; }
.ansi-magenta-fg { color: #797fd4; }
.ansi-cyan-fg { color: #15968d; }
.ansi-white-fg { color: #d2d8d9; }
.ansi-bright-black-fg { color: #3d3f41; }
.ansi-bright-red-fg { color: #f24840; }
.ansi-bright-green-fg { color: #629655; }
.ansi-bright-yellow-fg { color: #b68800; }
.ansi-bright-blue-fg { color: #2075c7; }
.ansi-bright-magenta-fg { color: #797fd4; }
.ansi-bright-cyan-fg { color: #15968d; }
.ansi-bright-white-fg { color: #d2d8d9; }

img.gravatar-img {
  width: 28px;
  height: auto;
}

.htee-font {
  font-family: "htee","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

@font-face {
    font-family: 'htee';
    src: url('htee-regular-webfont.eot');
    src: url('htee-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('htee-regular-webfont.woff') format('woff'),
         url('htee-regular-webfont.ttf') format('truetype'),
         url('htee-regular-webfont.svg#hteeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes redPulse {
  from { color: #bc330d; }
  50% { color: #e33100; }
  to { color: #bc330d; }
}

.recording {
  -webkit-animation-name: redPulse;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
}

.finished {
  color: #333333;
}
