<div class="modal modal-wide fade" id="lite-stream-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Lite Stream</h4>
      </div>
      <div class="modal-body">
        <p>Pipe your stream to this curl command:</p>
        <pre></pre>
      </div>
    </div>
  </div>
</div>
