<div class="panel panel-default">
  <div class="panel-heading">
    <%= button_to "Delete", stream_path(stream.owner, stream.name), method: :delete, class: 'btn btn-xs btn-danger pull-right' %>
    <h3 class="panel-title">
      <%= link_to stream.nwo, stream_path(stream.owner, stream.name) %>
    </h3>
  </div>
  <div class="panel-body">
    <pre class="stream <%= stream_class %>" href="<%= stream_url(stream.owner, stream.name) %>"></pre>
  </div>
</div>

