<div class="container">
  <div class="row">

  <%- @streams.each do |stream| -%>
    <%= render partial: "stream", locals: {stream: stream, stream_class: "stream-preview"} %>
  <%- end %>

  <%= will_paginate @streams, renderer: BootstrapPagination::Rails %>
  </div>
</div>
