 <div class="jumbotron">
  <div class="container">
    <h1>This is a splash page!</h1>
    <p>There are many like it but this one is mine.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Try htee &raquo;</a></p>
  </div>
</div>
